<form [formGroup]="formulario">
    <section class="vh-20">

        <div class="container py-1 h-100">

            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-10 col-lg-10">

                    @if (hayError()) {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Error!</strong> {{mensajeError}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    }



                    <div class="d-grid mb-1">
                        <div class="d-flex justify-content-center gap-2 w-100" id="busquedaInput">
                            <input #inputBusqueda class="form-control flex-grow-1" type="search-primary"
                                placeholder="  identificacion del usuario">

                            <button class="btn btn-primary py-1" (click)="agregarPasajero(inputBusqueda.value)">
                                Agregar pasajero
                            </button>
                        </div>
                    </div>


                    @for(pasajero of pasajeros(); track pasajero.id_nacionalidad){
                        <app-pasajero-reservacion-card [pasajero] ="pasajero" (solicitoEliminacion)="eliminarSeleccionado($event)"></app-pasajero-reservacion-card>
                    }

                </div>
            </div>
        </div>
    </section>
</form>