<div class="card shadow h-100">
    <div class="card-header text-center bg-light">
        <div class="fw-bold fs-5 text-truncate">
            {{cliente.nombre}}
        </div>
    </div>

    <div class="card-body d-flex flex-column">

        <div class="mb-3 text-muted small">
            <span class="me-4">
                <i class="bi bi-clock-fill"></i> {{cliente.identificacion}}
            </span>

            <span class="fw-bold text-danger">
                {{cliente.nombre}}
            </span>
        </div>

        <div class="mb-3 text-start small">
            <span class="me-4">
                <i class="bi bi-telephone-fill"></i> {{cliente.telefono}}
            </span>

            <span class="fw-bold text-muted">
               <i class="bi bi-envelope"></i>{{cliente.correo}}
            </span>
        </div>

        <div class="mb-3 text-muted small">
            <span class="me-4">
                <i class="bi bi-calendar-minus"></i> {{cliente.fechaNacimiento}}
            </span>

            <span class="fw-bold text-muted">
                <i class="bi bi-passport"></i>{{cliente.nacionalidad}}
            </span>
        </div>



        <div class="mt-auto pt-3 border-top d-flex justify-content-between align-items-center">
            <div class="d-flex gap-2">

                <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
                    data-bs-target="#deleteModal" (click)="eliminarAccion()">
                    <i class="bi bi-trash"></i>
                </button>


                <a [routerLink]="['/empleados/editar-page', cliente.nombre]" class="btn btn-outline-primary btn-sm">
                    <i class="bi bi-pencil-square"></i>
                </a>

            </div>

            @if(false){
            <a [routerLink]="['/juegos/detalles', cliente.nombre]" class="btn btn-primary btn-sm px-3">
                <i class="bi bi-eye-fill me-1"></i> Ver detalles
            </a>
            }
        </div>
    </div>
</div>