<h4 class="text-center">Reporte de ganancias</h4>
<br>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ingresos</th>
            <th scope="col">Rembolsos</th>
            <th scope="col">Ganancia</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>{{reporte.ingreso}}</td>
            <td>{{reporte.reembolsos}}</td>
            <td>{{reporte.ganacia}}</td>
        </tr>
    </tbody>
</table>